*{
    box-sizing: border-box;
}
body{
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    
}
/******************/
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 35px;
    border-bottom: 3px solid #8b8b8b;
}
.logo1{
    height: 80px;
}

.logo2{
    height: 140px;
}

h1{
    text-align: center;
    background-color: #1ba0a9;
    color: #ffffff;
    padding: 10px;
    margin: 10px 650px;
    border-radius: 7px;      
}

header nav {
    text-align: center;
    background: linear-gradient(0deg,rgba(27, 160, 169, 1) 0%, rgba(32, 127, 193, 1) 100%);
    padding: 25px;
}

header nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    background: transparent;
    padding: 7px 100px;
    margin: 10px;
    transition: 0.3s ease-out;   
}

header nav a:hover{
    color: #ffffff;
    background: #00000023;
    transition: 0.3s ease-out;
    border-radius: 7px;
    padding: 10px 130px;
    
}

/******************/


.coluna50 {
    background-color:#1ba0a9;
    border-radius: 15px;
    padding: 5%;
    margin: 88px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.258);

}
.coluna50 img{
    float: left;
    width: 43%;
    background: transparent;
    margin: 20px;
    border-radius: 10px;
    

}
.coluna50 p{
    font-size: 23px;
    text-align: justify;
    margin-bottom: 30px;  
    color: #ffffff;
}
.coluna50 h2{
    text-align: center;
    padding: 10px 0;
    color: #ffffff;
    font-size: 40px;
}

footer{
    padding: 20px;
    background-color: #207fc1;
    color: #ffffff;
    text-align: center;
}

/**************responsividade**************/

@media ( min-width:600px ){
    
    header nav{
        margin-top: 20px;
    }
    
    header nav a{
        font-size: 20px;
        padding: 20px 20px;
    }

    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 10px;
        padding: 10px 100px;
        flex-direction: row;
        
    }

}

@media ( min-width:768px ){
    header nav{
        margin-top: 20px;
    }
    
    header nav a{
        font-size: 24px;
        padding: 40px;
    }

    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 10px;
        padding: 10px 100px;
        flex-direction: row;
        
    }

}

@media ( min-width:992px ){
    header nav{
        margin-top: 20px;
    }
    
    header nav a{
        font-size: 24px;
        padding: 60px;
    }

    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 10px;
        padding: 10px 100px;
        flex-direction: row;
        
    }
    .coluna50 p{
        font-size: 28px;
    }
    .coluna50 img{
        width: 300px;
    }

}

@media ( min-width:1300px ){
    header nav{
        margin-top: 20px;
    }
    
    header nav a{
        font-size: 29px;
        padding: 20px 90px;
    }

    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 10px;
        padding: 10px 100px;
        flex-direction: row;
        
    }

    .coluna50{
        margin: 130px;
    }
    .coluna50 p{
        font-size: 33px;
    }
    .coluna50 img{
        width: 450px;
    }

}
