*{
    background-color: #ffffff;
    box-sizing: border-box;
    font-family:;
    
}
/******************/
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    border-bottom: 3px solid #8b8b8b;
}
.logo1{
    height: 80px;
}

.logo2{
    height: 140px;
}
/******************/

h1{
    padding-top: 50px;
    text-align: center;
}

.entrar{
    display: flex;
    flex-direction: column;
    background-color: #1ba0a9;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    border: #1ba0a9;
    border-radius: 6px;
    gap: 20px;
    width: 38%;
    
    
    
}
input{
    display: block;
    border: #1ba0a9;
    border-radius: 6px;
    margin: 0 auto;
    font-size: 20px;
    width: 50%;
    height: 35px;
    padding: 10px;
    
}

input::placeholder{
    color: black;
}

.enviar{
    display: block;
    border-radius: 6px;
    width: 20%;
    height: 35px;
    margin: 0 auto;
    border: #1ba0a9;
    background-color: #9af8ff;
    color: #0d5e64;
    font-size: 20px;
}
.enviar:hover{
    background-color: #7abec3;
    color: #093b3e;
}

.criar button{
    background-color: #0b555b;
    color: #ffffff;
    display: block;
    border-radius: 6px;
    width: 20%;
    height: 35px;
    margin: 0 auto;
    border: #1ba0a9;
    font-size: 20px;
}

.criar button:hover{
    background-color: #093b3e;
}

.criar h3{
    text-align: center;
    }
    

/*******************************************/
/* .grupo-entrar{
    position: relative;
    background-color: #1ba0a9;
    border: #1ba0a9 solid 10px;
} */


/* label{
    color: #ffffff;
    background-color: #1ba0a9;
    padding: 0 5px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 1em;
    pointer-events: none;
    transition: .3s;

}
margin: 180px 590px 10px 590px;
input{
    color: #ffffff;
    border: 2px solid #ffffff;
    background: transparent;
    border-radius: 5px;
    width: 300px;
    height: 60px;
    padding: 0 1rem;
    outline: none;
    text-align: center;

}

input:focus~label,
input:valid~label{
    top: 0;
    background-color: #1ba0a9;
    font-size: 0.7rem;
} */
/*******************************************/