*{
    
    box-sizing: border-box;
    text-align: center;
}
body{
    font-family: 'Exo', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
/******************/
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 35px;
    border-bottom: 3px solid #8b8b8b;
}
.logo1{
    height: 80px;
}

.logo2{
    height: 140px;
}
/******************/

h1{
    padding-top: 50px;
    text-align: center;
}
form{
    margin-bottom: 40px;
}

.entrar{
    display: flex;
    flex-direction: column;
    background-color: #1ba0a9;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    border: #1ba0a9;
    border-radius: 6px;
    gap: 20px;
    width: 27%;
    
}
input{
    display: block;
    border: #1ba0a9;
    border-radius: 6px;
    margin: 0 auto;
    font-size: 20px;
    width: 90%;
    height: 35px;
    padding: 10px;
    float: left;
    
}

input::placeholder{
    color: black;
    position: fixed;

}

.enviar{
    display: block;
    border-radius: 6px;
    width: 23%;
    height: 35px;
    margin: 0 auto;
    border: #1ba0a9;
    background-color: #9af8ff;
    color: #0d5e64;
    font-size: 20px;

}

.enviar:hover{
    background-color: #7abec3;
    color: #093b3e;

}

.criar{
    margin-bottom: 84px;
}

.criar a{
    background-color: #0b555b;
    color: #ffffff;
    border-radius: 6px;
    border: 2px solid #0b555b;
    font-size: 23px;
    text-decoration: none;
    padding: 12px 18px;
    
}

.criar a:hover{
    background-color: #093b3e;
}

.criar h3{
    text-align: center;
    margin-bottom: 30px;
}  

footer{
    padding: 20px;
    background-color: #207fc1;
    color: #ffffff;
    text-align: center;
}

.menu{
    margin-bottom: 30px;
}

.menu a{
    background-color: #1ba0a9;
    color: #ffffff;
    border-radius: 6px;
    border: 3px solid #1ba0a9;
    font-size: 26px;
    text-decoration: none;
    padding: 12px 18px;
    transition: 0.3s ease-out;
}

.menu a:hover{
    transition: 0.3s ease-out;
    transform: scale(1.1);
    font-size: 28px;

}

/* @media ( min-width:375px ){ 
   
    header img{
        flex-direction: row;
    }

main {
        
    }
} */